*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-color: #0D1A2D;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.contenido{
    background-color: #14273E;
    padding: 20px;
    border-radius: 15px;
    width: 25%;
}
.contenido .estado{
    position: relative;
}
.contenido .estado .fondoEstado{
    display: none;
    width: 100%;
    height: 98%;
    background-color: #00fff7;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .5;
    border-radius: 15px;
}
.contenido .estado .fondoEstado img{
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.contenido .cubo{
    width: 100%;
    border-radius: 15px;
    cursor: pointer;
}
.contenido .titulo{
    color: #fff;
    font-size: 1.1rem;
    margin: 8px 0;
}
.contenido .titulo:hover, .contenido .perfil p:hover{
    color: #00fff7;
    cursor: pointer;
}
.contenido .parrafo, .contenido .creacion{
    color: #8BACD9;
    margin: 10px 0;
}
.contenido .perfil{
    display: flex;
    margin: 15px 0;
    align-items: center;
}
.contenido hr{
    margin: 10px 0;
    border: 1px solid #45556b;
}
.contenido .perfil .foto{
    width: 10%;
    border: 1px solid #fff;
    border-radius: 50%;
    margin-right: 10px;
}
.contenido .perfil .nombre{
    color: #fff;
}
.contenido .precio{
    display: flex;
    justify-content: space-between;
}
.contenido .precio div{
    display: flex;
    align-items: center;
}
.contenido .precio .eth{
    color: #00FFF8;
    margin-left: 5px;
}
.contenido .precio .tiempo{
    color: #8BACD9;
    margin-left: 5px;
}
@media (max-width: 1024px){
    .contenido{
        width: 35%;
    }
}
@media (max-width: 768px){
    .contenido{
        width: 60%;
    }
}
@media (max-width: 480px){
    .contenido{
        width: 80%;
    }
}